.account-bck {
    /* background-color: #D5DDE3; */
    /* height: 100vh; */
    /* width: 300px; */
}

.account-center {
    margin: 0 2px;
    min-height: 99vh;
    box-shadow: 0px 2px 5px 2px #1C487C;
}

.account-content {
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: unset;
    color: black;
}

.account-link {
    text-decoration: unset;
    color: black;
}

.animated-account-results {
    backface-visibility: visible !important;
    animation-name: fadeInDown;
    animation-duration: .9s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    overflow: hidden;
}

@keyframes fadeInDown { 
    0% { 
        transform: scale(1, 0)

    } 
    100% { 
        transform: scale(1, 1)
    } 
} 

.fadeInDown { 
    animation-name: fadeInDown; 
}

.account-margin {
    display: flex;
    flex-direction: column;
}

.account-right {
    padding: 1em 0 0 0;
}

.account-right-label {
    font-size: 14px;
    background-color: rgb(131, 199, 211);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border: 1.5px solid #000000;
    padding: .5em 1em;
}

.account-subject {
    min-width: 79px;
}

.account-date {
    min-width: 79px;
}

.account-percent {
    min-width: 79px;
    text-align: right;
}

.account-right-stats {
    display: flex;
    justify-content: space-between;
    padding: 5px 3px;
    margin: 10px 7px;
    border: 1px solid #000000;
    border-radius: 2px;
}

.account-left-column {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.account-left-text {
    display: flex;
    font-size: 13px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.center-text {
    margin: auto;
    padding: 10px 0 10px 25px;
}

.css-button{ 
    height: 60px; 
    width: 120px; 
    padding: 17px; 
    text-align: center; 
    color: #FFFFFF; 
    font-family: 'Arial'; 
    font-size: 18px; 
    background-color: #E78B74; 
    border-width: 1px; 
    border-style: solid; 
    border-color: #3E537D; 
    border-radius: 18px; 
    box-shadow: 2px 3px 5px 0px #a8aeb8; 
} 
.css-button:hover{ 
    height: 77px; 
    width: 157px; 
    background-color: #08C5FF; 
} 

@media (min-width: 700px) {
    .account-content {
    display: flex;
    justify-content: center;
    }

    .account-right-label {
        padding: 10px 25px;
        font-size: 18px;
    }

    .account-right {
        flex: 4;
        padding: 6px 10px;
    }

    .account-subject {
        min-width: 100px;
    }
    
    .account-date {
        min-width: 100px;
    }
    
    .account-percent {
        min-width: 100px;
        text-align: right;
    }
}

@media (min-width: 900px) {
    .account-margin {
        min-width: 1000px;
        display: flex;
    }

    .account-right {
        max-width: 700px;
    }

    .account-content {
        display: flex;
        flex-direction: row;
        margin: 40px 0;
    }

    .account-bck {
        margin: auto;
        align-content: center;
        display: flex;
        justify-content: center;
    }
    
    .account-center {
        max-width: 1140px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

}

