.create-content {
    padding: 10px;
}

.create-left {
    padding: 10px;
}

.create-main-2 {
    margin: 0 2px;
    min-height: 99vh;
    box-shadow: 0px 2px 5px 2px #1C487C;
}

.create-subject {
    padding: 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-subject input {
    font-size: 25px;
    color: gray;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 230px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.create-subject button {
    margin: 10px 50px;
    padding: 10px 8px;
    border-radius: 4px;
    background-color: #4CAF50;
}

.create-subject:hover button {
    margin: 10px 50px;
    padding: 10px 8px;
    border-radius: 4px;
    background-color: #45a049;
}

.create-edit-name {
    padding: 10px 10px 10px 40px;
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.create-edit-name button {
    height: 20px;
    width: 35px;
    opacity: .5;
    margin-left: 10px;
    cursor: pointer;
}

.create-label {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.create-labels {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
}

.create-label input{
    padding: 10px;
    margin-bottom: 10px;
    width: 270px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.create-label button {
    padding: 10px;
    margin: 2px 60px;
    width: 180px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.create-label:hover button {
    background-color: #45a049;
}

.create-description {
    flex: 2;
}

.create-answer {
    margin-right: 20px;
}

.create-labels-1 {
    padding: 0 10px;
    margin: 10px 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
}

.create-labels-1 button {
    background-color: rgb(252, 168, 168);
    padding: 6px;
    margin: 0 10px;
    border-radius: 6px;
    border: 1px solid black;
}

.create-labels-1:hover button {
    background-color: rgb(255, 101, 101);
    cursor: pointer;
}

.create-description-1 {
    display: flex;
    align-items: center;
}

.create-description-2 {
    margin: 10px 0;
}

.create-answer-1 {
}

@media (min-width: 700px) {
    .create-labels {
        padding: 8px 90px 8px 40px;
        font-size: 25px;
    }
   
    .create-answer {
        width: 50px;
    }
    
    .create-labels-1 {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    
    .create-labels-1 button {
        padding: 2px;
        margin: 10px 0;
        height: 19px;
    }
    
    .create-description-1 {
        flex: 2;
    }
    
    .create-description-2 {
        width: 160px;
    }
}

@media (min-width: 900px){
    .create-main {
        display: flex;
        justify-content: center;
    }

    .create-main-2 {
        width: 1003px;
    }

}