.edit-main {
    /* background-color: rgb(241, 97, 97); */
    /* padding: 5px; */
}

.edit-content {
    /* background-color: rgb(227, 247, 114); */
    /* padding: 5px; */
}

.edit-content button {
    /* background-colorgb(19, 17, 13) 3);
    padding: 5px; */
}

.edit-name {
    /* background-color: rgb(231, 179, 110); */
    /* padding: 5px; */
    padding: 25px 0;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-cards {
    /* background-color: rgb(108, 95, 133); */
    padding: 5px;
    margin: 7px 0;
    border: 1px solid black;
}

.edit-cards-label {
    /* background-color: rgb(67, 79, 241); */
    /* padding: 5px; */
}

.edit-cards-info {
    /* background-color: rgb(34, 241, 69); */
    padding: 3px;
    display: flex;
    justify-content: space-between;
}


@media (min-width: 700px){
    /* .edit-main-2 {
        width: 1003px;
    } */
    .edit-main-3 {
        display: flex;
        justify-content: center;
    }

    .edit-content {
        /* background-color: rgb(227, 247, 114); */
        padding: 5px;
        margin: 0 40px;
        width: 700px;
    }
    
    .edit-cards {
        /* background-color: rgb(108, 95, 133); */
        padding: 5px;
        margin: 7px 0;
        border: 1px solid black;
    }
    
}

@media (min-width: 900px) {
    .edit-main-2 {
        width: 1003px;
    }

    .edit-main {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }

}