.edit-main {
    /* background-color: rgb(241, 97, 97); */
    /* padding: 5px; */
}

.edit-main-2 {
    margin: 0 2px;
    padding-bottom: 200px;
    min-height: 99vh;
    box-shadow: 0px 2px 5px 2px #1C487C;
}

.edit-name {
    padding: 25px 0;
    font-size: 33px;
    display: flex;
    flex-direction: column;
}

.edit-cards {
    padding: 5px;
    margin: 15px 10px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
}

.edit-card-content {
    margin: 10px 15px;
}

.edit-button-edit {
    margin-left: 10px;
}

.edit-name-20 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit1-labels {
    padding: 10px 20% 10px 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    font-weight: bold;
}

.edit1-description {
    flex: 2;
}

.edit1-cards {
    margin: 10px 8px;
    padding: 10px 20px;
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
}

.edit1-cards-info {
    flex: 3;
}

.edit1-input-1 {
    background-color: lightgoldenrodyellow;
    width: 60%;
    margin-right: 10%;
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
}

.edit1-input-2 {
    background-color: lightgoldenrodyellow;
    width: 20%;
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
}

.edit1-button {
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
}

.edit-to-account {
    font-size: 15px;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 3px;
}

.edit-to-subject {
    font-size: 15px;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 3px;
}

.edit-cards-info {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    margin: 8px 7px 5px 10px;
}

.edit-cards-info div {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 55px;
}

.edit-cards-info-1 {
    padding: 13px;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    font-weight: bold;
}

@media (min-width: 700px){
    .edit-main-3 {
        display: flex;
        justify-content: center;
    }

    .edit-content {
        padding: 5px;
        margin: 0 40px;
        width: 700px;
    }
    
    .edit-cards {
        padding: 5px;
        margin: 7px 0;
        border: 1px solid black;
    }
    
}

@media (min-width: 900px) {
    .edit-main-2 {
        width: 1003px;
    }

    .edit-main {
        display: flex;
        justify-content: center;
    }

}