.flashcard-main {
    /* background-color: lightblue; */
    /* padding: 10px; */
}

.flashcard-main-2 {
    /* background-color: lightgrey; */
}

.flashcard-content {
    /* background-color: lightcoral; */
    padding: 10px;
    min-height: 250px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    cursor: pointer;
    /* animation-duration: 1s; 
    animation-fill-mode: both; 
    animation-timing-function: linear;  */
}
/* 

@keyframes flipInY { 
    0% { 
        transform: perspective(400px) rotateY(90deg); 
        opacity: 0; 
    } 
    40% { 
        transform: perspective(400px) rotateY(-10deg); 
    } 
    70% { 
        transform: perspective(400px) rotateY(10deg); 
    } 
    100% { 
        transform: perspective(400px) rotateY(0deg); 
        opacity: 1; 
    } 
} 
.flashcard-content:after { 
    backface-visibility: visible !important; 
    animation-name: flipInY; 
} */

.flashcard-main-1 {
    min-height: 99vh;
    box-shadow: 0px 2px 5px 2px #1C487C;
}

.flashcard-question {
    /* background-color: lightgreen; */
    /* padding: 3px; */
}

.flashcard-answer {
    /* background-color: lightseagreen; */
    /* padding: 3px; */
}

.flashcard-buttons {
    /* background-color: lightpink; */
    display: flex;
    justify-content: space-around;
}


.flashcard-view {
    /* background-color: lightgoldenrodyellow; */
    padding: 10px;
}

.link-1 {
    padding: 0;
    margin: 0 0;
}

.flashcard-button {
    /* background-color: lightgreen; */
    padding: 10px;
    border: 1px solid #000000;
    cursor: pointer;
}

@media (min-width: 500px) {
    .flaschard-box-3 {
        /* background-color: pink; */
        /* padding: 10px; */
        display: flex;
        justify-content: center;
    }

    .flashcard-big-box {
        /* background-color: blue; */
        padding: 5px;
        width: 400px;
    }

}

@media (min-width: 700px) {
    .flaschard-box-3 {
        /* background-color: pink; */
        /* padding: 10px; */
        display: flex;
        justify-content: center;
    }

    .flashcard-big-box {
        /* background-color: blue; */
        padding: 5px;
        width: 400px;
    }

}

@media (min-width: 900px) {
    .flashcard-main {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }

    .flashcard-main-2 {
        width: 1003px;
    }

}

