.flashcard-main {
    /* background-color: lightblue; */
    /* padding: 10px; */
}


.flashcard-button-1 {
    animation-duration: .5s; 
    animation-fill-mode: both; 
    animation-timing-function: linear; 
    backface-visibility: visible !important; 
    animation-name: slideIn; 
}

@keyframes slideIn { 
    0% { transform: translateX(100%); opacity: 0; } 
    60% { transform: translateX(20%) ; opacity: 1; } 
    80% { transform: translateX(0%); opacity: 1; } 
    100% { transform: translateX(0%); opacity: 1; } 
} 

.flashcard-content-1 {
    background-color: #61dafb;
    padding: 10px;
    min-height: 250px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1.5px solid #ffffff;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    cursor: pointer;
    animation-duration: .5s; 
    animation-fill-mode: both; 
    animation-timing-function: linear; 
    backface-visibility: visible !important; 
    animation-name: slideIn; 
}

.flashcard-content {
    background-color: #61dafb;
    padding: 10px;
    min-height: 250px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1.5px solid #ffffff;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    cursor: pointer;
    animation-duration: .5s; 
    animation-fill-mode: both; 
    animation-timing-function: linear; 
}


@keyframes flipInY { 
    0% { 
        transform: perspective(400px) rotateY(180deg); 
    } 
    40% { 
        transform: perspective(400px) rotateY(90deg); 
    } 
    70% { 
        transform: perspective(400px) rotateY(45deg); 
    } 
    100% { 
        transform: perspective(400px) rotateY(0deg); 
    } 
} 
.flashcard-content { 
    backface-visibility: visible !important; 
    animation-name: flipInY; 
}

.flashcard-view {
    padding: 10px;
    text-align: center;
    backface-visibility: visible !important;
    animation-name: fadeIn;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(1,0,.07,1.81);
    animation-fill-mode: both
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /* display: none; */
    }
/* 
    25% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    76% {
        opacity: 1
    } */

    100% {
        opacity: 1;
        /* display: inline; */
    }

    
}


.flashcard-main-1 {
    min-height: 99vh;
    box-shadow: 0px 2px 5px 2px #1C487C;
}

.flashcard-question {
    text-align: center;
}

.flashcard-answer {
    text-align: center;
}

.flashcard-buttons {
    display: flex;
    justify-content: space-around;
}

.flashcard-flipping {
    background-color: #61dafb;
}

.link-1 {
    padding: 0;
    margin: 0 0;
}

.flashcard-button {
    padding: 10px;
    border: 1px solid #000000;
    cursor: pointer;
}

@media (min-width: 500px) {
    .flaschard-box-3 {
        display: flex;
        justify-content: center;
    }

    .flashcard-big-box {
        padding: 5px;
        width: 400px;
    }

}

@media (min-width: 700px) {
    .flaschard-box-3 {
        display: flex;
        justify-content: center;
    }

    .flashcard-big-box {
        padding: 5px;
        width: 400px;
    }

}

@media (min-width: 900px) {
    .flashcard-main {
        display: flex;
        justify-content: center;
    }

    .flashcard-main-2 {
        width: 1003px;
    }

}

