.header {
    background-color: rgb(57, 136, 255);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    /* padding: 1em 4em; */
    align-content: center;
}

.header-right {
    /* background-color: pink; */
    /* padding: 5px; */
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.link {
    /* background-color: teal; */
    /* padding: 5px; */
    text-decoration: unset;
    color: black;
    /* padding-right: 10px; */
}

.header-text {
    /* background-color: lightblue; */
    /* padding: 5px; */
    font-size: 14px;
    display: flex;
    align-content: center;
    /* padding: 0 2em;
    font-size: 1.3em; */
}

.header-logout {
    border: .7px solid #000000;
    border-radius: 3px;
    /* background-color: lightcoral; */
    /* padding: 5px; */
    font-size: 9px;
    /* font: 1em; */
    display: flex;
    align-content: center;
    justify-content: center;
}