.header {
    background-color: rgb(155, 149, 149);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.header-right {

    /* background-color: pink; */
    display: flex; 
    align-content: center;
    justify-content: center;
    align-items: center;
}

.link {
    /* background-color: teal; */
    margin: auto;
    text-decoration: unset;
    display: flex;
    text-align: center;
}

.header-text {
    /* background-color: lightblue; */
    font-size: 14px;
    margin: auto;

    display: flex;
    align-content: center;
    padding-right: 6px;
}

.header-logout {
    border: .7px solid #000000;
    border-radius: 3px;
    margin: auto;
    font-size: 9px;
    text-align: center;
    color: white;
}

.logout {
    margin: auto;
    text-align: center;
    width: 28px;
    padding: 4px;
    color: white;
}

@media (min-width: 700px) {
    .header {
        padding: 10px 100px;
    }

    .header-text {
        font-size: 22px;
    }
}