body {
    background-color: rgb(243, 243, 243);
}

.login-main {
    margin-top: 6em;
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-box {
    background-color: #97CFD9;
    box-shadow: 2px 3px 5px 0px #1C487C;
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 7px;
}

.login-box button {
    background-color: #403d39;
    color: #ffffff;
    font-size: 10px;
    padding: 13px;
    border: black;
    border-radius: 9px 9px 9px 9px;
    cursor: pointer;
}

.login-text {
    font-size: 2em;
    padding-bottom: 1em;
}

@media (min-width: 700px) {
    .login-text {
        font-size: 3.3em;
    }

    .login-box {
        padding: 6em 2em;
    }

    .login-main {
        margin-top: 6em;
        padding: 4em 1em;
    }

    .login-box button {
        font-size: 1em;
        padding: 13px 35px;
    }
}