body {
    /* background-color: rgba(235, 235, 235, 0.801); */
    background: #F5F7F9; 
    background: -moz-linear-gradient(left, #F5F7F9 0%,#D5DDE3 25%,#D5DDE3 50%,#D5DDE3 75%,#F5F7F9 100%); 
    background: -webkit-linear-gradient(left, #F5F7F9 0%,#D5DDE3 25%,#D5DDE3 50%,#D5DDE3 75%,#F5F7F9 100%); 
    background: linear-gradient(to right, #F5F7F9 0%,#D5DDE3 25%,#D5DDE3 50%,#D5DDE3 75%,#F5F7F9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F7F9 0%',  endColorstr='undefined', GradientType=1 ); 
/* } */
    background-color: #F5F7F9,  #1C487C, #287095, #D5DDE3, #559CAC, #97CFD9, #E78B74
}

.login-main {
    margin-top: 6em;
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-box {
    /* background-color: #2e7ff9; */
    background-color: #559CAC;
    box-shadow: 2px 3px 5px 0px #1C487C;
    /* backgrounrgb(12, 23, 29)095; 
    background: -moz-linear-gradient(left, #287095 13%,#559CAC 52%,#D5DDE3 100%); 
    background: -webkit-linear-gradient(left, #287095 13%,#559CAC 52%,#D5DDE3 100%); 
    background: linear-gradient(to right, #287095 13%,#559CAC 52%,#D5DDE3 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#287095 13%',  endColorstr='undefined', GradientType=1 );  */
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 7px;
}

.login-box button {
    background-color: #403d39;
    color: #ffffff;
    font-size: 10px;
    padding: 13px;
    border: black;
    border-radius: 9px 9px 9px 9px;
    cursor: pointer;
}

.login-text {
    font-size: 2em;
    padding-bottom: 1em;
}

@media (min-width: 700px) {
    .login-text {
        font-size: 3.3em;
    }

    .login-box {
        padding: 6em 2em;
    }

    .login-main {
        margin-top: 6em;
        padding: 4em 1em;
    }

    .login-box button {
        font-size: 1em;
        padding: 13px 35px;
    }
}