.results-main {
    /* background-color: rgb(240, 95, 95); */
}

.results-main-2 {
    margin: 0 2px;
    min-height: 99vh;
    box-shadow: 0px 2px 5px .5px #1C487C;
}

.results-title {
    padding: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center
}

.results-to-account {
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 3px;
    margin: 2px 0;
    display: flex;
    align-items: center;
    min-width: 70px;
}

.results-main-title {
    font-size: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 3px;
    margin: 2px 20px;
    display: flex;
    align-items: center;
}

.results-try-again {
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 3px;
    margin: 2px;
    display: flex;
    align-items: center;
    text-decoration: unset;
    color: black;
    min-width: 70px;
}

.result-right {
    width: 15px;
}

.result-wrong {
    width: 15px;
}

.result-right1 {
    width: 10px;
}

.result-wrong1 {
    width: 10px;
}

.results-label {
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    padding: .6em .3em;
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(65, 65, 65, 0.925);
    color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgb(95, 95, 95);
} 
.results-stats-1 {
    flex: 1 0 0;
}

.results-stats-10 {
    flex: 1 0 0;
}

.results-stats-2 {
    flex: 3 0 0;
    padding-right: 8px;
}

.results-stats-3 {
    flex: 1.5 0 0;
    padding-right: 8px;
}

.results-stats-4 {
    flex: 1 0 0;
    text-align: center;
}

.results-stats {
    font-size: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    display: flex;
    margin: 1em 0;
    padding: .6em .3em;
    justify-content: space-around;
}

.results-stats-right {
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px -1px #235e14;
    display: flex;
    margin: 10px 8px;
    padding: .6em .3em;
    justify-content: space-around;
    align-items: center;
}

.results-stats-wrong {
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px -1px #7e1212;
    display: flex;
    margin: 10px 8px;
    padding: .6em .3em;
    justify-content: space-around;
    animation-duration: 2s; 
    animation-fill-mode: both;
    animation-iteration-count: 5;
    align-items: center;
}

@keyframes wrongGlow {
    0% {transform: scale(1)}
    2% {transform: scale(1.01)}
    4% {transform: scale(1)}
    90%, 100% {transform: scale(1)}
}

.result-link {
    text-decoration: unset;
    color: black;
}

.results-right {
    padding: 5px;
    flex: .5 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.results-result {
    border-radius: 8px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 3px;
    font-size: 12px;
}

.results-percent {
    background-color:  #97cfd9;
    border-radius: 30%;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 1s; 
    animation-fill-mode: both;
    animation-iteration-count: 3;
    animation-name: tada;
}

@keyframes tada {
        0% {transform: scale(1);} 
        10%, 20% {transform: scale(0.9) rotate(-3deg);} 
        30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
        40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
        100% {transform: scale(1) rotate(0);} 
}


@media (min-width: 400px) {
    .results-stats {
        font-size: 15px;
    }

    .results-label {
        font-size: 15px;
    }
}

@media (min-width: 700px) {
    .results-left {
        padding: 0 30px;
    }

    .results-stats {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 900px) {

    .results-content {
        display: flex;
    }
    
    .results-left {
        flex: 2 0 0;
    }

    .results-right {
        justify-content: flex-start;
        padding-top: 70px;
    }

    .results-percent {
        margin-top: 20px;
        padding: 23px;
    }

    .results-title {
        padding: 20px 0;
    }

    .results-main-title {
        padding: 20px 10px;
    }

}

@media (min-width: 900px){
    .results-main {
        display: flex;
        justify-content: center;
    }

    .results-main-2 {
        width: 1003px;
    }

}