.results-main {
    /* padding: 3px; */
    /* background-color: rgb(240, 95, 95); */
}

.results-main-2 {
    /* padding: 3px; */
    /* background-color: rgb(240, 95, 95); */
    margin: 0 2px;
    min-height: 99vh;
    box-shadow: 0px 2px 5px 2px #1C487C;
}

/* results title */
.results-title {
    padding: 3px;
    /* background-color: lightpink; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center
}

.results-to-account {
    /* padding: 5px; */
    /* background-color: lightgreen; */
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 3px;
    margin: 2px 0;
    display: flex;
    align-items: center;
}

.results-main-title {
    /* padding: 5px; */
    font-size: 20px;
    /* background-color: lightyellow; */
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 3px;
    margin: 2px 20px;
    display: flex;
    align-items: center;
}

.results-try-again {
    /* padding: 5px; */
    /* background-color: lightseagreen; */
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 3px;
    margin: 2px;
    display: flex;
    align-items: center;
    text-decoration: unset;
    color: black;
}

/* results content */

.results-content {
    /* padding: 5px; */
    /* background-color: lightsalmon; */
    /* display: flex; */
}

.result-right {
    width: 15px;
}

.result-wrong {
    width: 15px;
}

.result-right1 {
    width: 10px;
}

.result-wrong1 {
    width: 10px;
}

/* results left */

.results-left {
    /* padding: 5px; */
    /* background-color: lightskyblue; */
    /* flex: 3 0 0; */
}

.results-label {
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    /* background-color: lightcoral; */
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    padding: .6em .3em;
}

.results-stats-1 {
    flex: 1 0 0;
}

.results-stats-10 {
    flex: 1 0 0;
}

.results-stats-2 {
    flex: 3 0 0;
}

.results-stats-3 {
    flex: 1.5 0 0;
}

.results-stats-4 {
    flex: 1 0 0;
    text-align: center;
}

.results-stats {
    font-size: 10px;
    /* background-color: teal; */
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    display: flex;
    margin: 1em 0;
    padding: .6em .3em;
    justify-content: space-around;
}

.results-stats-right {
    font-size: 12px;
    /* background-color: #1f910210; */
    border: 1px solid #1e9102;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px #235e14;
    display: flex;
    margin: 10px 8px;
    padding: .6em .3em;
    justify-content: space-around;
}

.results-stats-wrong {
    font-size: 12px;
    border: 1px solid #bb0404;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px #7e1212;
    display: flex;
    margin: 10px 8px;
    padding: .6em .3em;
    justify-content: space-around;
    /* background-color: rgba(255, 225, 225, 0.459); */
    /* animation-name: wrongGlow; */
    animation-duration: 2s; 
    animation-fill-mode: both;
    animation-iteration-count: 5;
}

@keyframes wrongGlow {
    0% {transform: scale(1)}
    2% {transform: scale(1.01)}
    4% {transform: scale(1)}
    90%, 100% {transform: scale(1)}
}

.result-link {
    text-decoration: unset;
    color: black;
}

/* results right */

.results-right {
    padding: 5px;
    /* background-color: lightblue; */
    flex: .5 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.results-result {
    /* background-color: lightgreen; */
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 10px;
}

.results-percent {
    /* background-color: rgba(0, 255, 0, 0.356); */
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 1s; 
    animation-fill-mode: both;
    animation-iteration-count: 3;
    animation-name: tada;
}

@keyframes tada {
        0% {transform: scale(1);} 
        10%, 20% {transform: scale(0.9) rotate(-3deg);} 
        30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
        40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
        100% {transform: scale(1) rotate(0);} 
}


@media (min-width: 400px) {
    .results-stats {
        font-size: 15px;
    }

    .results-label {
        font-size: 15px;
    }
}

@media (min-width: 700px) {
    .results-left {
        padding: 0 30px;
    }

    .results-stats {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 900px) {

    .results-content {
        /* background-color: lightsalmon; */
        display: flex;
    }
    
    .results-left {
        /* background-color: lightskyblue; */
        flex: 2 0 0;
    }

    .results-right {
        justify-content: flex-start;
        padding-top: 70px;
    }

    .results-percent {
        margin-top: 20px;
        padding: 23px;
    }

    .results-result {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .results-title {
        padding: 20px 0;
    }

    .results-main-title {
        padding: 20px 10px;
    }

}

@media (min-width: 900px){
    .results-main {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }

    .results-main-2 {
        width: 1003px;
    }

}