.trainings-main {
    /* background-color: rgb(235, 235, 235); */
}

.trainings-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.trainings-main-1 {
    min-height: 99vh;
    box-shadow: 0px 2px 5px .5px #1C487C;
    text-align: center;
}

.trainings-category {
    padding: 10px 25px 10px 25px;
    margin-top: 15px;
    width: 240px;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: rgba(167, 165, 165, 0.233);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 0px rgba(134, 134, 134, 0.808);
}

.subject-box{
    padding: 10px;
    text-align: center;
}


.subject-boxs{
    font-size: 25px;
    text-align: center;
}

.subject-button{
    text-align: center;
    text-decoration: unset;
    color: black; 
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    box-shadow: 0px 0px 7px 1px #a8aeb8; 
    background-color: rgb(230, 230, 230);
}

.subject-button:hover{
    font-size: 20px;
    background-color: white;
    border-radius: 4px;

}

.subject-buttons {
    display: flex;
    width: 110%;
    margin: 12px 0;
    text-decoration: unset;
    color: black; 
    justify-content: space-around;
}

.link {
    text-decoration: unset;
    color: black; 
    cursor: pointer;
}

@media (min-width: 600px){
    .trainings-content {
        flex-direction: row;
    }
    
    .trainings-category {
        margin: 10px;
    }
    
    .subject-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        max-width: 803px;
        margin-top: 25px;
    }
}

@media (min-width: 900px){
    .trainings-content {
        flex-direction: row;
    }

    .trainings-main-2 {
        width: 1003px;
    }

    .trainings-main {
        display: flex;
        justify-content: center;
    }
    
    .trainings-category {
        margin: 10px;
    }
    
    .subject-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        max-width: 1003px;
        margin-top: 40px;
    }
}