.train-main {
    /* background-color: rgb(235, 235, 235); */
    /* height: 100vh; */
}

.train-main-02 {
    /* background-color: rgb(235, 235, 235); */
    /* height: 100vh; */
    margin: 0 2px;
    min-height: 99vh;
    box-shadow: 0px 2px 5px 2px #1C487C;
}

.train-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* box-shadow: 0px 2px 5px 2px #1C487C; */
}

.train-question {
    /* font-size: 2em;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
    margin: 2em;
    width: 60%;
    height: 30vh;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center; */
    padding: 10px;
    min-height: 250px;
    margin: 20px 15px;
    display: flex;
    min-width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
}

.train-input {
    /* width: 90%; */
    padding: 2em;
}

.train-input-box {
    width: 200px;
    padding: 1em;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.7);
}

.train-button {
    padding: .8em;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 1px 2px 3px -1.4px rgba(0,0,0,0.4);
    cursor: pointer;
}

.link {
    text-decoration: unset;
    color: black;
    padding-right: 2em;
}

@media (min-width: 700px) {
    .train-question {
        min-width: 400px
    }
}

@media (min-width: 900px) {
    .train-main-01{
        display: flex;
        justify-content: center;
    }

    .train-main-02 {
        min-width: 1003px;
    }

}