.trainings-main {
    /* background-color: rgb(235, 235, 235); */
}

.trainings-content {
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: green; */
}

.trainings-main-1 {
    min-height: 99vh;
    box-shadow: 0px 2px 5px 2px #1C487C;
}

.trainings-category {
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 10px 25px 10px 25px;
    margin-top: 15px;
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
}

.subject-box{
    /* background-color: pink; */
    padding: 10px;
}


.subject-boxs{
    /* background-color: red; */
    margin: 0 0 20px 0;
    /* padding: 10px; */
    font-size: 25px;
}

.subject-button {
    /* background-color: teal; */
    font-size: 13px;
    border: 1px solid #000000;
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
}

.subject-buttons {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.link {
    text-decoration: unset;
    color: black; 
    cursor: pointer;
}

@media (min-width: 600px){
    .trainings-content {
        /* background-color: yellow; */
        flex-direction: row;
    }
    
    .trainings-category {
        /* background-color: blue; */
        margin: 10px;
    }
    
    .subject-box{
        /* background-color: green; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        max-width: 803px;
        margin-top: 25px;
    }
}

@media (min-width: 900px){
    .trainings-content {
        /* background-color: yellow; */
        flex-direction: row;
    }

    .trainings-main-2 {
        width: 1003px;
    }

    .trainings-main {
        display: flex;
        justify-content: center;
    }
    
    .trainings-category {
        /* background-color: blue; */
        margin: 10px;
    }
    
    .subject-box{
        /* background-color: green; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        max-width: 1003px;
        margin-top: 40px;
    }
}